// Maps

$h1-font-sizes: (
  null  : 28px,
  480px : 2em,
  640px : 2.5em,
  800px : 3.75em,
  1024px: 4em
);

$h2-font-sizes: (
  null  : 18px,
  480px : 1.25em,
  640px : 1.5em,
  800px : 1.75em,
  1024px: 2em
);

$h3-font-sizes: (
  null  : 18px,
  480px : 1.275em,
  640px : 1.375em,
  800px : 1.5em,
  1024px: 1.75em
);

$h4-font-sizes: (
  null  : 14px,
  480px : 0.875em,
  640px : 0.875em,
  800px : 0.875em,
  1024px: 0.875em
);

$p-font-sizes: (
  null  : 15px,
  480px : .85em,
  640px : .95em,
  1024px: 1em
);
